.set-bg1{
  background: url(../../../assets/img/blog/blog-1.jpg);
}
.set-bg2{
  background: url(../../../assets/img/blog/blog-2.jpg);
}
.set-bg3{
  background: url(../../../assets/img/blog/blog-3.jpg);
}
.set-bg4{
  background: url(../../../assets/img/blog/blog-wide.jpg);
}
.set-bg5{
  background: url(../../../assets/img/blog/blog-10.jpg);
}
