.hp-room-item.set-bg1{
  background: url(../../../assets/img/room/room-b1.jpg);
}
.set-bg2{
  background: url(../../../assets/img/room/room-b2.jpg);
}
.set-bg3{
  background: url(../../../assets/img/room/room-b3.jpg);
}
.set-bg4{
  background: url(../../../assets/img/room/room-b4.jpg);
}
