<section class="hp-room-section" id="book">
  <div class="container-fluid">
    <div class="hp-room-items">
      <div class="row">
        <div class="col-lg-3 col-md-6" *ngFor="let event of events">
          <div class="hp-room-item" [ngClass]="{'custom-bg': event.img}" [ngStyle]="{'background-image': 'url(' + event.img + ')'}">
            <div class="hr-text">
              <h3>{{ event.name }}</h3>
              <h2>{{ event.available_seats }}$<span>/Per person</span></h2>
              <table>
                <tbody>
                  <tr>
                    <td class="r-o">Description:</td>
                    <td>{{ event.description }}</td>
                  </tr>
                  <tr>
                    <td class="r-o">Category:</td>
                    <td>{{ event.category }}</td>
                  </tr>
                  <tr>
                    <td class="r-o">Event Date:</td>
                    <td>{{ event.event_date }}</td>
                  </tr>
                  <tr>
                    <td class="r-o">Available Seats:</td>
                    <td>{{ event.available_seats }}</td>
                  </tr>
                  <tr>
                    <td class="r-o">Booked Seats:</td>
                    <td>{{ event.booked_seats }}</td>
                  </tr>
                </tbody>
              </table>
              <a href="#" class="primary-btn" [routerLink]="isLoggedIn() ? ['/client/event', event.id] : '/client/signup'"> More Details </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
